<form action="/artists" method="post">
  <label for="artistName">Add an artist to your music catalog</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Submit</button>
</form>